/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */


 /* h1 {
 text-align: center;

 #131921
} */

body {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #131921;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .nav-logo {
    height:30px;
    width: auto;
    padding: 9px;
    padding-top: 18px;
    }
    form {
        flex: 1;
    }
    .nav-search{
        display: flex;
        width: 100%;
       
    }
    .search-left {
       background-color: red;
    }

    .search-box{
        height: 28px;
        width: 80%;
        
    }
    .search-right {
        height: 28px;
        background-color: #febd69;
    }
    .magnifying-glass {
        height: 28px;
    }

}


